.title {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.166;
    letter-spacing: 0.03em;
    color: $primary-text-color;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
  }