
    $primary-text-color: #212121;
    $accent-color: #2196F3;
    $primary-white-color: #FFFFFF;
    $second-color: #757575;
    $text-decoration-color:#F5F4FA;
    $back-color:#2F303A;
    $bg-pic-color:#EEEEEE;
    $line-color:#ECECEC;
    $border-color:#AFB1B8;
    $main-font: "Roboto", sans-serif;
    $second-font: "Raleway", sans-serif;
    $accent-font: "Oleo Script", sans-serif;

